<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestPutzProjekt</title>
    <link rel="stylesheet" href="~/css/cssSite.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestPutzProjekt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
    <link rel="stylesheet" href="~/css/Scssfile.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar has-shadow is-white">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                        <strong>TestPutzProjekt</strong>
                    </a>

                    <!-- Burger Menü für Mobile -->
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasic" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                        <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Privacy">
                            Privacy
                        </a>
                        <a class="navbar-item" asp-area="" asp-controller="StempelApp" asp-action="Login">
                            Login
                        </a>
                        <a class="navbar-item" asp-area="" asp-controller="Dashboard" asp-action="Index">
                            Dashboard
                        </a>
                    </div>
                </div>
            </div>
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        Hallo, @User.Identity.Name!
                        <a asp-controller="Account" asp-action="Logout">Abmelden</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer has-background-light">
        <div class="content has-text-centered">
            <p >
                &copy; @DateTime.Now.Year - <strong class="has-text-black">TestPutzProjekt</strong> -
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script type="module" src="~/js/index.js"></script>
    @* <script src="~/js/JsSite.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@{
    var userEmail = Context.Session.GetString("UserEmail");
}
@if (!string.IsNullOrEmpty(userEmail))
{
    <div class="navbar-item">
        Angemeldet als: @userEmail
    </div>
}
