@model StempelApp.Viewmodels.UserViewModel



<section class="section">
    <h1 class="title is-1 has-text-centered has-text-black">Aufgaben Liste</h1>

    <!--GPS-Daten integrieren muss noch hinzugefügt werden-->
    <div id="zeiterfassung" class="mb-4">00:00:00</div>

    <div class="buttons">
        <button type="button" class="button is-family-primary is-medium" onclick="start()">Start</button>
        <button type="button" class="button is-family-primary is-medium" onclick="pause()">Pause</button>
    </div>

    <div>
        <form asp-controller="Feedback" asp-action="Create" method="post" enctype="multipart/form-data">
            @foreach(var project in Model.Projects)
            {
                <div class="field">
                    <label class="label has-text-black">Aufgabe</label>
                    <div class="control">
                        <ul>
                            @foreach(var activity in project.Activities)
                            {
                                <li>
                                    @activity<br />
                                    <label class="radio">
                                        <input type="radio" name="Aufgabe_@activity" value="nicht erledigt" checked>
                                        nicht erledigt
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="Aufgabe_@activity" value="erledigt">
                                        erledigt
                                    </label>
                                    <div class="field">
                                        <label class="label has-text-black">Datei hochladen</label>
                                        <div id="file-js-example" class="file has-name is-fullwidth">
                                            <label class="file-label">
                                                <input class="file-input" type="file" name="resume_@activity">
                                                <span class="file-cta">
                                                    <span class="file-label">Choose a file…</span>
                                                </span>
                                                <span class="file-name">No file selected</span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
            
        </form>
    </div>
    <div class="mt-4">
        <button type="button" class="button is-family-primary is-medium" onclick="ende()">Ende</button>
    </div>
</section>

<script>
    
</script>


