//ladet die Erweiterungen für Sass herunter "Web Compiler 2022+" unter Erweiterungen verwalten und dann
//Visual Studio neu starten, damit die Warnung verschwindet


$theme-color:(
    "light-grey": #f5f5f5,
    "errormessage": rgb(251, 52, 52) 
);

@mixin flexbox{
    display: flex;
    flex-direction: column;
}


html, body {
    height: 100%;
    margin: 0;
    background-color: white !important;
    color: black !important;
}

body {
    @include flexbox;
    min-height: 100vh;
}

main {
    flex: 1 0 auto !important;
    overflow-y: auto !important;
}

footer {
    position: relative !important;
    width: 100%;
}

.btn {
    &:focus,
    &:active:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }
}

.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.login-box {
    max-width: 400px;
    margin: 0 auto;
}

.label {
    margin-top: 20px;
}

.file {
    width: 100%;
}

.button {
    margin-top: 20px;
    padding: 8px 32px;
    width: 200px !important;
    height: 50px !important;
}

.errormessage {
    color: map-get($theme-color,"errormessage");
    font-weight: bold;
}

input {
    background-color: white !important;

    &::placeholder {
        color: black !important;
        opacity: 0.5;
    }
}

.accordion {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;

    &-header {
        background-color:map-get($theme-color,"light-grey") ;
        padding: 12px;
        cursor: pointer;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            
            background-color: darken(map-get($theme-color,light-grey), 5%);
            cursor: pointer;
        }
    }

    &-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        padding: 0 12px;
        display: none;
        transition: all 0.3s;

        &.open {
            width: 100%;
            max-height: 100%;
            padding: 12px;
            display: block;
        }
    }
}

@media (max-width: 600px) {
    .accordion-header {
        flex-direction: column;
        align-items: flex-start;

        .time {
            margin-top: 0.25rem;
        }
    }

    .label {
        margin-top: 15px;
        font-size: 0.9rem;
    }

    .button {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .file {
        width: 50%;
    }

    .button {
        padding: 8px 64px;
    }
}
