@model StempelApp.Viewmodels.CreateViewModel

@{
    ViewData["Title"] = "Account anlegen";
}
<!-- SUCCESS-BALKEN HINZUFÜGEN -->
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Erfolg!</strong> @ViewBag.SuccessMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Account">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Anlegen" class="btn btn-primary my-2" />
            </div>
            <p class="text-muted mt-2">
                Sie erhalten eine E-Mail zur Passworteingabe.
            </p>
        </form>
    </div>
</div>
